root = true

[*]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{cs,vb}]
### API rules ###
dotnet_diagnostic.CA1002.severity = warning
dotnet_diagnostic.CA1021.severity = warning
dotnet_diagnostic.CA1031.severity = warning

# CA1000: static member in generic type
resharper_static_member_in_generic_type_highlighting = warning
dotnet_diagnostic.CA1000.severity = warning

# CA2007: use ConfigureAwait(false)
dotnet_diagnostic.CA2007.severity = warning
dotnet_code_quality.CA2007.output_kind = ConsoleApplication, DynamicallyLinkedLibrary
resharper_configure_await_analysis_mode = library
resharper_use_configure_await_false_for_async_disposable_highlighting = warning
resharper_use_configure_await_false_highlighting = warning

### Naming styles ###
# camelCase with prefix underscore
dotnet_naming_style.camel_case_underscore.capitalization = camel_case
dotnet_naming_style.camel_case_underscore.required_prefix = _

# pascal case
dotnet_naming_style.pascal_case.capitalization = pascal_case

### Naming symbols ###
# Instance private & internal fields
dotnet_naming_symbols.instance_non_public_fields.applicable_kinds = field
dotnet_naming_symbols.instance_non_public_fields.applicable_accessibilities = internal, protected_internal, protected, private, private_protected

# Static fields
dotnet_naming_symbols.static_fields.applicable_kinds = field
dotnet_naming_symbols.static_fields.applicable_accessibilities = *
dotnet_naming_symbols.static_fields.required_modifiers = static

### Naming conventions ###
# Instance non-public -> camel_case_underscore
dotnet_naming_rule.instance_non_public_fields.symbols = instance_non_public_fields
dotnet_naming_rule.instance_non_public_fields.severity = warning
dotnet_naming_rule.instance_non_public_fields.style = camel_case_underscore

# Static -> pascal_case
dotnet_naming_rule.static_fields.symbols=static_fields
dotnet_naming_rule.static_fields.severity = warning
dotnet_naming_rule.static_fields.style = pascal_case

[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false
csharp_space_before_comma = false
csharp_space_after_comma = true
csharp_indent_case_contents_when_block = false

# Allman style
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_catch = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
csharp_indent_switch_labels = true
csharp_indent_case_contents = true

# R#
resharper_csharp_trailing_comma_in_multiline_lists = true
resharper_csharp_align_multiline_extends_list = true
resharper_csharp_align_multiline_property_pattern = true
resharper_csharp_keep_existing_linebreaks = true
resharper_csharp_keep_existing_arrangement = true
resharper_csharp_keep_user_wrapping = true
resharper_csharp_wrap_object_and_collection_initializer_style = chop_if_long
resharper_csharp_wrap_arguments_style = chop_if_long